/* thead {
  background-color: dodgerblue;
}
tbody {
  background-color: deeppink;
}

tfoot {
  background-color: dodgerblue;
} */

table {
  border: 2px solid orange;
  width: 100%;
  border-collapse: separate;
}

td {
  text-align: center;
}

td,
th {
  border: 2px solid orange;
  border-radius: 20px;
}
